<div class="container" style="padding: 10px">
    <div class="row">
        <div class="col s12 center-align">
            <img ng-src="{{movie.urlImage}}" height="70%" width="70%"/>
        </div>
        <form class="col s12" ng-submit="save(movie)">
            <div class="input-field col m8 s12">
                <input id="name" ng-model="movie.name" type="text" class="validate">
                <label for="name">Nome</label>
            </div>
            <div class="input-field col m4 s12">
                <select ng-model="movie.year" ng-options="year for year in years">
                    <option value="" disabled selected>Ano de lançamento</option>
                </select>
                <label>Ano de lançamento</label>
            </div>
            <div class="input-field col s12">
                <input id="url_image" ng-model="movie.urlImage" type="text" class="validate">
                <label for="url_image">Url da imagem</label>
            </div>
            <div class="input-field col s12">
                <textarea id="description" ng-model="movie.description" class="materialize-textarea"></textarea>
                <label for="description">Descrição</label>
            </div>

            <div class="input-field col s12">
                <button class="btn waves-effect waves-light" type="submit">Salvar
                    <i class="fa fa-save left"></i>
                </button>
                <button class="btn waves-effect waves-light red" type="button"
                        ng-click="remove(movie)" ng-if="movie.id">
                    Remover
                    <i class="fa fa-trash left"></i>
                </button>
                <button class="btn white black-text waves-effect waves-light" type="button"
                        ng-click="back()">Voltar
                    <i class="fa fa-reply left"></i>
                </button>
            </div>
        </form>
    </div>

</div>
