<div class="row background-primary">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a href="#!/movies"><i class="fa fa-home fa-2x"></i></a></li>
            <li class="tab col s6"><a href="#!/favorites"><i class="fa fa-heart fa-2x"></i></a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col m8 offset-m2" ng-repeat="favorite in favorites | filter:search track by favorite.id">
            <div class="card">
                <div class="card-image">
                    <img ng-src="{{favorite.movie.urlImage}}">
                </div>
                <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">
                    {{favorite.movie.name}}
                    <i class="fa fa-heart right" ng-click="onFavorite(favorite)"
                       ng-class="{'heart-growing': clickedId === favorite.id}"></i>
                </span>
                    <p>{{favorite.movie.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <ng-include src="'../nocontent.html'" ng-if="!favorites.length"></ng-include>
</div>