<div ng-show="erro" class="alert alert-danger">{{error}}</div>

<div class="row container">
    <div class="row">
        <div class="input-field col s12 center-align">
            <h2>Login</h2>
        </div>
    </div>
    <form name="form" ng-submit="login()" role="form" class="col s12">
        <div class="row">
            <div class="input-field col m6 offset-m3 s12">
                <input id="username" type="text" ng-model="username" name="username"
                       required ng-keyup="errorUsername = null"
                       ng-class="{'invalid': errorUsername, 'valid': username && !errorUsername}">
                <label for="username" data-error="{{errorUsername}}">Usuário</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m6 offset-m3 s12">
                <input id="password" type="password" ng-model="password" name="password"
                       required ng-keyup="errorPassword = null"
                       ng-class="{'invalid': errorPassword, 'valid': password && !errorPassword}">
                <label for="password" data-error="{{errorPassword}}">Senha</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col m6 offset-m3 s12 center-align">
                <button class="btn waves-effect waves-light" ng-disabled="form.$invalid || dataLoading" type="submit"
                        name="action">Login
                    <i class="fa fa-sign-in right"></i>
                    <img ng-if="dataLoading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </button>
            </div>
        </div>
    </form>
</div>