/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.background-primary {
    background-color: #F50057;
}

.tabs {
    background-color: #F50057;
}

.tabs .tab a {
    color: white;
}

@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }
    20% {
        transform: scale(.80);
    }
    40% {
        transform: scale(.85);
    }
    60% {
        transform: scale(.90);
    }
    80% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

.heart-growing {
    animation: heartbeat 0.2s;
}